@import './library.scss';

.about-content {
  width: 60%;
  // margin: auto;
}

.info {
  background-color: $background-color;
  font-family: $text-font;
  font-size: larger;
}

.test {
  width: 50%;
}
