@import './library.scss';

#game-text {
  background-color: $background-color;
}

#game-container {
  width: 100%;
  text-align: center;
}

#game {
  border: 2px solid $secondary-blue;
  border-radius: 5px;
  background-color: #1d1d1dbc;
}

@media screen and (max-width: 1000px) {
  #game-container {
    display: none;
  }
}
