@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=PT+Sans&family=Roboto+Slab:wght@600&display=swap');

// colors
// $background-color: #1d1b26;
$background-color: #1D1D1D;
$secondary-blue: #08FDD8;
$secondary-red: #FD2155;
$secondary-black: #181818;
$font-color: #FFFFFF;
$background-comp-grad: linear-gradient(to right, #fd2d00 0%, #df00c7 100%);
$input-background-color: #2b2b2b;

// fonts
$menu-item-font: 'PT Sans', sans-serif;
$heading-font: 'Roboto Slab', serif;
$text-font: 'Noto Serif', serif;

// spacing
$page-margin: 80px;
$menu-item-margin: 20px;

// size
$card-item-size: 400px;

// shadows
$div-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
$btn-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

// animations
$num-car-items: 16;
$car-delay: 3;
